body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #363D4D;
    color: #363D4D;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F0F8FF;
    font-size: 2em;
    font-weight: bold;
    padding: 22px 0;
    width: 100%;
}

a {
    color: #4EA0F0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4EA0F0;
}

select {
    border: none;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #4A505E;
    color: #F0F8FF;
}

input {
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4A505E;
    color: #F0F8FF;
}

.content {
    background-color: #F0F8FF;
    border-radius: 8px;
    padding: 2em;
    margin: 1em;
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    #result {
        display: flex;
    }

    section {
        box-sizing: border-box;
        width: 285px;
    }
}