html {
    overflow-y: scroll;
}

body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #363D4D;
    color: #2B303D;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F0F8FF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 6px 0;
    width: 100%;
}

img {
    height: 2em;
}

h2 {
    margin: 0.5em;
}

a {
    color: #4690D8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4690D8;
}

select {
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 4px;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #4A505E;
    color: #F0F8FF;
}

select:hover {
    background-color: #363D4D;
}

input {
    border: none;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4A505E;
    color: #F0F8FF;
}

input:active {
    background-color: #363D4D;
}

section {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.content {
    background-color: #F0F8FF;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2em;
    margin: 2em;
    font-weight: 500;
    width: fit-content;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 415px) {
    select {
        display: inline;
        border-radius: 8px 0 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 52px;
    }

    input {
        display: inline;
        border-radius: 0 8px 8px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 52px;
    }
}

@media only screen and (min-width: 940px) {
    header {
        font-size: 2em;
        padding: 6px 0;
    }


    section {
        box-sizing: border-box;
        width: 285px;
    }

    .content {
        width: 940px;
    }

    #result {
        display: flex;
    }
}